.message {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-bottom: 30px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.imageAndText img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: 10px;
}

.text {
    color: white;
    background-color: #0066CC;
    border-radius: 10px;
    word-break: break-word;
    padding: 8px 12px;
    position: relative;
    max-width: 60%;
}

.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid #0066CC;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.name {
    font-family:  "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: right;
    margin-bottom: 4px;
}

.messageText {
    font-family:  "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.time {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #000;
    text-align: right;
    margin: 5px 10px 0;
}