.radio {
    appearance: none;
    background-image: url("unchecked-radio.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
}

.radio:checked {
    background-image: url("checked-radio.svg");
}

.radio::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.radio:checked::before {
}

.label {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
