.button {
    font-family: Montserrat, serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 2px;
    padding: 5px 24px;
    background-color: #0066CC;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.4);
}
.button:disabled {
    background-color: #c1bfbf;
    opacity: 0.5;
}


.default {
    width: 132px;
    background-color: #0059b2;
}
.default:hover {
    background-color: #0080ff;
}
.default:active {
    background-color: #0059b2;
}


.red {
    width: 129px;
    background-color: #cc1439;
}
.red:hover {
    background-color: #ff1a47;
}
.red:active {
    background-color: #b21232;
}


.disabled {
    width: 133px;
    background-color: #c1bfbf;
    cursor: default;
    opacity: 0.5;
}
.disabled:hover {
    background-color: #c1bfbf;
}


.secondary {
    max-width: 176px;
    width: 100%;
    border: 1px solid #06c;
    color: #06c;
    background-color: white;
}
.secondary:hover {
    background-color: #e5f0fa;
}
.secondary:active {
    background-color: #c9e5ff;
}

